

.App {
  /* background: #000; */
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;

}

.banks {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
}

.banks .bank-wrapper {
  margin-top: 10px;
}
