
.available-parameters {
  height: 100%;
  width: 300px;

  padding: 20px;
  background: #111;


  .component-parameter {
    width: 50%;
    color: #fff;
    height: 28px;
    .visual {
      display: none;
    }
  }
}
